*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div,
ul,
li {
    list-style: none;
}
@font-face {
    font-family: electronicFont;
    src: url("font/DS-DIGIT.TTF");
}
div.layui-fluid{
    padding: 15px;
}
html{
    background-color: #f2f2f2;
}
.layui-form-label{
    width: auto;
}
.menu-form{
    margin: 10px 10px 0 10px;
}
.layui-row{
    margin-bottom: 10px;
}
.menu-table{
    margin: 10px 25px;
}