body{
   background-color: #fff;
   height: 100vh;
}
.site-h3{
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
    color: #6379bb;
    font-weight: bold;
}
.layui-form-label{
    width: 110px;
}
.layui-form-item .layui-input-inline{
    width: 250px;
}
.layout-center{
    margin: 0 auto;
    width: 740px;
}
.layui-form-switch{
    height: 100%;
}
.user-menu{
    margin-top: 20px;
}