<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="component::header('添加用户')"></th:block>
    <link rel="stylesheet" th:href="@{/system/back/system/css/back_user/back_user_add.css}">
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-col-space12">
        <form class="layui-form user-menu" lay-filter="userForm">
            <div class="layui-form-item">
                <h3 class="site-h3">基本信息</h3>
            </div>
            <div class="layout-center">
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="star">*</span>用户名称：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userName" autocomplete="off" class="layui-input" lay-verify="required" value="测试">
                    </div>
                    <label class="layui-form-label">归属部门：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="dept" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">手机号码：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="iphone" autocomplete="off" class="layui-input" lay-verify="phone" value="18879511935">
                    </div>
                    <label class="layui-form-label">邮箱：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="email" autocomplete="off" class="layui-input" lay-verify="email" value="lian@out.com">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="star">*</span>登录账号：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="loginName" autocomplete="off" class="layui-input" lay-verify="required|loginName" value="test">
                    </div>
                    <label class="layui-form-label"><span class="star">*</span>登录密码：</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password" autocomplete="off" class="layui-input" lay-verify="required|loginPassword">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">用户性别：</label>
                    <div class="layui-input-inline" >
                        <select name="sex" th:with="genders=${@sysDictWebServiceImpl.findDetailByType('sys_user_sex')}">
                            <option th:each="gender:${genders}" th:text="${gender.dictLabel}" th:value="${gender.dictValue}"></option>
                        </select>
                    </div>
                    <label class="layui-form-label">用户状态：</label>
                    <div class="layui-input-inline">
                        <input type="checkbox" name="status" lay-skin="switch" lay-text="正常|停用">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">岗位：</label>
                    <div class="layui-input-inline" >
                        <div id="post"></div>
                    </div>
                    <label class="layui-form-label">角色：</label>
                    <div class="layui-input-inline">
                        <input type="checkbox" name="role" title="普通角色" lay-skin="primary" value="2">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <h3 class="site-h3">其他信息</h3>
            </div>
            <div class="layout-center">
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">备注：</label>
                    <div class="layui-input-block">
                        <textarea name="remark" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                </div>
            </div>
            <div class="layui-form-item" style="margin: 0 auto;width: max-content;">
                <div class="layui-btn-container">
                    <button class="layui-btn" type="button" lay-submit lay-filter="*">
                        <i class="layui-icon layui-icon-add-1"></i>
                        保存
                    </button>
                    <button class="layui-btn layui-btn-danger" type="reset" studying-event="close">
                        <i class="layui-icon layui-icon-close"></i>
                        关闭
                    </button>
                </div>
            </div>
        </form>
    </div>
    </div>
    <th:block th:include="component::commonJs"></th:block>
    <script th:src="@{/system/back/system/js/back_user/add.js}"></script>
</body>
</html>