<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.small.system.mapper.SysDictTypeMapper">
    <select id="find" parameterType="com.small.system.query.SysDictTypeQuery" resultType="com.small.system.domain.SysDictType">
        SELECT
            sdt.dict_id dictId,
            sdt.dict_name dictName,
            sdt.dict_type dictType,
            sdt.status status,
            sdt.create_by createBy,
            sdt.create_time createTime,
            sdt.update_by updateBy,
            sdt.update_time updateTime,
            sdt.remark remark
        FROM
            sys_dict_type sdt
        <where>
            <if test="dictTypeStatus != null">
                sdt.status = #{dictTypeStatus}
            </if>
            <if test="createStartDate != null">
                and <![CDATA[DATE_FORMAT(sdt.create_time,'%Y-%m-%d')>= DATE_FORMAT(#{createStartDate},'%Y-%m-%d')]]>
            </if>
            <if test="createEndDate != null">
                and <![CDATA[DATE_FORMAT(sdt.create_time,'%Y-%m-%d')<= DATE_FORMAT(#{createEndDate},'%Y-%m-%d')]]>
            </if>
            <if test="dictTypeName != null and dictTypeName != ''">
                and sdt.dict_name like concat('%',#{dictTypeName},'%')
            </if>
             <if test="dictTypeCode != null and dictTypeCode != ''">
                 and sdt.dict_type like concat('%',#{dictTypeCode},'%')
             </if>
        </where>
           <if test="offset != null and offset != 0">
               limit #{limit},#{offset}
           </if>
    </select>
    <select id="count" resultType="integer" parameterType="com.small.system.query.SysDictTypeQuery">
        SELECT
            count(*)
        FROM
        sys_dict_type sdt
        <where>
            <if test="dictTypeStatus != null">
                sdt.status = #{dictTypeStatus}
            </if>
            <if test="createStartDate != null">
                and <![CDATA[DATE_FORMAT(sdt.create_time,'%Y-%m-%d')>= DATE_FORMAT(#{createStartDate},'%Y-%m-%d')]]>
            </if>
            <if test="createEndDate != null">
                and <![CDATA[DATE_FORMAT(sdt.create_time,'%Y-%m-%d')<= DATE_FORMAT(#{createEndDate},'%Y-%m-%d')]]>
            </if>
            <if test="dictTypeName != null and dictTypeName != ''">
                and sdt.dict_name like concat('%',#{dictTypeName},'%')
            </if>
            <if test="dictTypeCode != null and dictTypeCode != ''">
                and sdt.dict_type like concat('%',#{dictTypeCode},'%')
            </if>
        </where>
    </select>
    <insert id="save" parameterType="com.small.system.domain.SysDictType">
        INSERT INTO sys_dict_type (
            <if test="dictName != null and dictName != ''">
                dict_name,
            </if>
            <if test="dictType != null and dictType != ''">
                dict_type,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="createBy != null and createBy != ''">
                create_by,
            </if>
            <if test="remark != null and remark != ''">
                remark,
            </if>
                create_time
         )
        VALUES
            (
                <if test="dictName != null and dictName != ''">
                    #{dictName},
                </if>
                <if test="dictType != null and dictType != ''">
                    #{dictType},
                </if>
                <if test="status != null">
                    #{status},
                </if>
                <if test="createBy != null and createBy != ''">
                    #{createBy},
                </if>
                <if test="remark != null and remark != ''">
                    #{remark},
                </if>
            sysdate()
        );
    </insert>
    <delete id="batchDelete" parameterType="long">
        DELETE FROM sys_dict_type where dict_id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
    <update id="update" parameterType="com.small.system.domain.SysDictType">
        update sys_dict_type
        <set>
                <if test="dictName != null and dictName != ''">dict_name=#{dictName},</if>
                <if test="dictType != null and dictType != ''">dict_type=#{dictType},</if>
                <if test="status != null">STATUS=#{status},</if>
                <if test="updateBy != null and updateBy != ''">update_by=#{updateBy},</if>
                <if test="remark != null and remark != ''">remark=#{remark},</if>
                 update_time = sysdate()
            </set>
        where
            dict_id = #{dictId}
    </update>
    <select id="findSysDictTypeByQuery" parameterType="com.small.system.query.SysDictTypeQuery" resultType="com.small.system.domain.SysDictType">
        SELECT
            sdt.dict_id dictId,
            sdt.dict_name dictName,
            sdt.dict_type dictType,
            sdt.status status,
            sdt.create_by createBy,
            sdt.create_time createTime,
            sdt.update_by updateBy,
            sdt.update_time updateTime,
            sdt.remark remark
        FROM
            sys_dict_type sdt
        <where>
            <if test="dictId != null">
                sdt.dict_id = #{dictId}
            </if>
            <if test="dictTypeName != null and dictTypeName != ''">
                and sdt.dict_name = #{dictTypeName}
            </if>
            <if test="dictTypeCode != null and dictTypeCode != ''">
                and sdt.dict_type = #{dictTypeCode}
            </if>
        </where>
    </select>
    <select id="findDictTypeById" parameterType="Long" resultType="com.small.system.domain.SysDictType">
        SELECT
            sdt.dict_id dictId,
            sdt.dict_name dictName,
            sdt.dict_type dictType,
            sdt.status status,
            sdt.create_by createBy,
            sdt.create_time createTime,
            sdt.update_by updateBy,
            sdt.update_time updateTime,
            sdt.remark remark
        FROM
            sys_dict_type sdt
        WHERE
            sdt.dict_id = #{dictId}
    </select>

    <select id="getAllDictTypeNames" resultType="com.small.system.domain.SysDictType">
        select dict_name dictName,dict_type dictType from sys_dict_type
    </select>
</mapper>