<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.small.system.mapper.SysRoleMapper">
    <select id="find" resultType="com.small.system.domain.SysRole" parameterType="com.small.system.query.SysRoleQuery">
        SELECT
            r.role_id roleId,
            r.role_name roleName,
            r.create_time createTime,
            r.create_by createBy,
            r.update_time updateTime,
            r.update_by updateBy,
            r.role_sort roleSort,
            r.role_key roleKey,
            r.data_scope dataScope,
            r.status status,
            r.del_flag delFlag
        FROM
            sys_role r
        <where>
            <if test="roleName != null and roleName != ''">
                r.role_name like CONCAT('%',#{roleName},'%')
            </if>
            <if test="roleKey != null and roleKey != ''">
                and r.role_key like CONCAT('%',#{roleKey},'%')
            </if>
            <if test="status != null">
                and r.status = #{status}
            </if>
            <if test="createStartTime != null">
                and <![CDATA[DATE_FORMAT(r.create_time,'%Y-%m-%d')>= DATE_FORMAT(#{createStartTime},'%Y-%m-%d')]]>
            </if>
            <if test="createEndTime != null">
                and <![CDATA[DATE_FORMAT(r.create_time,'%Y-%m-%d')<= DATE_FORMAT(#{createEndTime}),'%Y-%m-%d']]>
            </if>
        </where>
        <if test="order == null">
            order by r.role_sort
        </if>
         <if test="offset != null and offset != 0">
             limit #{limit},#{offset}
         </if>
    </select>
    <select id="count" resultType="Integer" parameterType="com.small.system.query.SysRoleQuery">
        SELECT
            count(*)
        FROM
        sys_role r
        <where>
            <if test="roleName != null and roleName != ''">
                r.role_name like CONCAT('%',#{roleName},'%')
            </if>
            <if test="roleKey != null and roleKey != ''">
                and r.role_key like CONCAT('%',#{roleKey},'%')
            </if>
            <if test="status != null">
                and r.status = #{status}
            </if>
            <if test="createStartTime != null">
                and <![CDATA[DATE_FORMAT(r.create_time,'%Y-%m-%d')>= DATE_FORMAT(#{createStartTime},'%Y-%m-%d')]]>
            </if>
            <if test="createEndTime != null">
                and <![CDATA[DATE_FORMAT(r.create_time,'%Y-%m-%d')<= DATE_FORMAT(#{createEndTime}),'%Y-%m-%d']]>
            </if>
        </where>
    </select>
    <insert id="save" parameterType="com.small.system.domain.SysRole"></insert>
</mapper>