<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.small.system.mapper.SysRoleDeptMapper">
    <delete id="batchDeleteByRoleId" parameterType="Long">
        DELETE FROM sys_role_dept where role_id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
    <insert id="batchInsert" parameterType="com.small.system.domain.SysRoleDept">
        INSERT INTO sys_role_dept(role_id,dept_id) values
        <foreach collection="list" item="item" separator=",">
            (#{item.roleId},#{item.deptId})
        </foreach>
    </insert>
</mapper>