<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.small.system.mapper.SysUserLoginInfoMapper">
    <select id="find" parameterType="com.small.system.query.SysUserLoginInfoQuery" resultType="com.small.system.domain.SysLoginInfo">
        select info_id infoId,login_name loginName,ipaddr ipAddr,login_location loginLocation,browser,os,status,msg,login_time loginTime from sys_logininfo
        <where>
            <if test="ipAddr != null and ipAddr != ''">
                ipaddr = #{ipAddr}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="loginName != null and loginName != ''">
                and login_name = #{loginName}
            </if>
            <if test="beginTime != null">
                and date_format(login_time,'%y%m%d') >= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null">
                and date_format(login_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
        </where>
        <if test="order == null">
            order by login_time desc
        </if>
        <if test="order != null and order != '' and orderStrategy != null and orderStrategy != ''">
            order by ${order} ${orderStrategy}
        </if>
        <if test="offset != null and offset != 0">
            limit #{limit},#{offset}
        </if>
    </select>
    <select id="save" parameterType="com.small.system.domain.SysLoginInfo">
        INSERT into sys_logininfo(login_name,ipaddr,login_location,browser,os,status,msg,login_time)
        values(#{loginName},#{ipAddr},#{loginLocation},#{browser},#{os},#{status},#{msg},NOW());
    </select>
    <select id="count" parameterType="com.small.system.query.SysUserQuery" resultType="Integer">
        select count(*) from sys_logininfo
        <where>
            <if test="ipAddr != null and ipAddr != ''">
                ipaddr = #{ipAddr}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="loginName != null and loginName != ''">
                and login_name = #{loginName}
            </if>
            <if test="beginTime != null">
                and date_format(login_time,'%y%m%d') >= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null">
                and date_format(login_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
        </where>
    </select>
    <delete id="batchDelete" parameterType="list">
        delete from sys_logininfo where info_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <update id="update"></update>

    <update id="cleanLogininfo">
        truncate table sys_logininfo
    </update>
</mapper>