<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link th:href="@{/system/CommonStyle.css}" rel="stylesheet">
</head>

<div th:fragment="commonJs">
    <script th:src="@{/layui/layui.js}"></script>
</div>

<div th:fragment="submitBtn">
    <div class="layui-form-item" style="display: none">
        <button class="layui-btn" type="button" lay-submit lay-filter="*" id="search">
            <i class="layui-icon layui-icon-add-1"></i>
            保存
        </button>
    </div>
</div>

<!--role添加和删除的公共部分-->
<div th:fragment="role">
    <div class="layui-fluid">
        <div class="layui-col-space12">
            <form class="layui-form addForm" lay-filter="roleForm">
                <div class="layui-form-item" style="display: none">
                    <div class="layui-input-block">
                        <input type="text" name="roleId" autocomplete="off" class="layui-input" th:value="${#objects.nullSafe(roleId,'')}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="star">*</span>角色名称：</label>
                    <div class="layui-input-block">
                        <input type="text" name="roleName" autocomplete="off" class="layui-input" lay-verify="required|roleName">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="star">*</span>权限字符：</label>
                    <div class="layui-input-block">
                        <input type="text" name="roleKey" autocomplete="off" class="layui-input" lay-verify="required|roleKey">
                        <div class="layui-form-mid layui-word-aux">控制器中定义的权限字符，如：@RequiresRoles("")</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="star">*</span>显示顺序：</label>
                    <div class="layui-input-block">
                        <input type="text" name="roleSort" autocomplete="off" class="layui-input" lay-verify="required|sort">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">状态：</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="status" lay-skin="switch" lay-text="ON|OFF">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">备注：</label>
                    <div class="layui-input-block">
                        <input type="text" name="remark" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">复选框</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="treeOp[fold_unfold]" lay-skin="primary" title="展开/折叠"  lay-filter="treeOp">
                        <input type="checkbox" name="treeOp[both_none]" lay-skin="primary" title="全选/全不选" lay-filter="treeOp">
                        <input type="checkbox" name="treeOp[linkage]" lay-skin="primary" title="父子联动" lay-filter="treeOp" checked>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block menuTreeBorder">
                        <ul class="ztree" id="menuTree"></ul>
                    </div>
                </div>
                <th:block th:include="component::submitBtn"></th:block>
            </form>
        </div>
    </div>
</div>

<!--menu添加和删除的公共部分-->
<div th:fragment="menu">
    <div class="layui-fluid">
        <div class="layui-col-space12">
            <form class="layui-form addForm" lay-filter="menuForm">
                <div class="layui-form-item">
                    <div class="layui-input-block layui-hide">
                        <input type="hidden" name="menuId" th:value="${#objects.nullSafe(menuId,'')}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">上级菜单：</label>
                    <div class="layui-input-block">
                        <input type="text" name="parentMenu" autocomplete="off" class="layui-input" readonly>
                        <input type="hidden" name="parentId">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="star">*</span>菜单类型：</label>
                    <div class="layui-input-block">
                        <input type="radio" name="menuType" value="M" title="目录" lay-filter="menuType" lay-verify="menuType">
                        <input type="radio" name="menuType" value="C" title="菜单" lay-filter="menuType" lay-verify="menuType">
                        <input type="radio" name="menuType" value="F" title="按钮" lay-filter="menuType" lay-verify="menuType">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="star">*</span>菜单名称：</label>
                    <div class="layui-input-block">
                        <input type="text" name="menuName" autocomplete="off" class="layui-input" lay-verify="required|menuName">
                    </div>
                </div>
                <div class="layui-form-item" id="url">
                    <label class="layui-form-label">请求地址：</label>
                    <div class="layui-input-block">
                        <input type="text" name="url" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" id="openStyle">
                    <label class="layui-form-label">打开方式：</label>
                    <div class="layui-input-block">
                        <select name="openStyle">
                            <option value="">页签</option>
                            <option value="">新窗口</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item" id="perms">
                    <label class="layui-form-label">权限标识：</label>
                    <div class="layui-input-block">
                        <input type="text" name="perms" autocomplete="off" class="layui-input">
                        <div class="layui-form-mid layui-word-aux">控制器中定义的权限字符，如：@RequiresRoles("")</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="star">*</span>显示排序：</label>
                    <div class="layui-input-block">
                        <input type="text" name="order" autocomplete="off" class="layui-input" lay-verify="required|order">
                    </div>
                </div>
                <div class="layui-form-item" id="icon">
                    <label class="layui-form-label">图标：</label>
                    <div class="layui-input-block">
                        <input type="text" id="iconHhysFa" lay-filter="iconHhysFa" class="hide">
                    </div>
                </div>
                <div class="layui-form-item" id="menuStatus">
                    <label class="layui-form-label">菜单状态：</label>
                    <div class="layui-input-block">
                        <input type="radio" name="menuStatus" value="0" title="显示">
                        <input type="radio" name="menuStatus" value="1" title="隐藏">
                    </div>
                </div>
                <th:block th:include="component::submitBtn"></th:block>
            </form>
        </div>
    </div>
</div>

<!--dept添加和删除的公共部门-->
<div th:fragment="dept">
    <div class="layui-fluid">
        <div class="layui-col-space12">
            <form class="layui-form addForm" lay-filter="deptForm">
                <div class="layui-form-item">
                    <input type="hidden" name="deptId" autocomplete="off" class="layui-input" th:value="${#objects.nullSafe(deptId,'')}">
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">上级部门：</label>
                    <div class="layui-input-block">
                        <input type="text" name="superDeptName" autocomplete="off" class="layui-input">
                        <input type="hidden" name="superDeptId" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="star">*</span>部门名称：</label>
                    <div class="layui-input-block">
                        <input type="text" name="deptName" autocomplete="off" class="layui-input" lay-verify="required|deptName">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="star">*</span>显示排序：</label>
                    <div class="layui-input-block">
                        <input type="text" name="order" autocomplete="off" class="layui-input" lay-verify="required|order">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">负责人：</label>
                    <div class="layui-input-block">
                        <input type="text" name="leader" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">联系电话：</label>
                    <div class="layui-input-block">
                        <input type="text" name="phone" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱：</label>
                    <div class="layui-input-block">
                        <input type="text" name="email" autocomplete="off" class="layui-input" lay-verify="required">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">部门状态：</label>
                    <div class="layui-input-block">
                        <input type="radio" name="deptStatus" value="0" title="显示">
                        <input type="radio" name="deptStatus" value="1" title="隐藏">
                    </div>
                </div>
                <th:block th:include="component::submitBtn"></th:block>
            </form>
        </div>
    </div>
</div>

<!--post添加和删除的公共部门-->
<div th:fragment="post">
    <div class="layui-fluid">
        <div class="layui-col-space12">
            <form class="layui-form addForm" lay-filter="postForm">
                <div class="layui-form-item">
                    <input type="hidden" name="postId" autocomplete="off" class="layui-input" th:value="${#objects.nullSafe(postId,'')}">
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="star">*</span>岗位名称：</label>
                    <div class="layui-input-block">
                        <input type="text" name="postName" autocomplete="off" class="layui-input" lay-verify="required|postName">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="star">*</span>岗位编码：</label>
                    <div class="layui-input-block">
                        <input type="text" name="postCode" autocomplete="off" class="layui-input" lay-verify="required|postCode">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="star">*</span>显示排序：</label>
                    <div class="layui-input-block">
                        <input type="text" name="order" autocomplete="off" class="layui-input" lay-verify="required|order">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">岗位状态：</label>
                    <div class="layui-input-block">
                        <input type="radio" name="postStatus" value="0" title="正常">
                        <input type="radio" name="postStatus" value="1" title="停用">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">备注：</label>
                    <div class="layui-input-block">
                        <textarea name="remark" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                </div>
                <th:block th:include="component::submitBtn"></th:block>
            </form>
        </div>
    </div>
</div>

</html>