<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link th:href="@{/system/CommonStyle.css}" rel="stylesheet">
</head>

<div th:fragment="commonJs">
    <script th:src="@{/layui/layui.js}"></script>
</div>

</html>