<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
            xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="component::header('首页')"></th:block>
    <link th:href="@{/system/index/css/index.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/system/index/css/sprites.css}">
</head>
<body>
    <header>
        <h1>数据可视化</h1>
    </header>
    <section class="mainbox">
        <div class="column">
            <div class="panel dailyTasks">
                <h2>每日任务</h2>
                <div class="chart"></div>
                <div class="panel-footer"></div>
            </div>
            <div class="panel tasksTime">
                <h2>任务进行时间</h2>
                <div class="chart"></div>
                <div class="panel-footer"></div>
            </div>
            <div class="panel dailyTasksPrecent">
                <h2>每日任务时间占比</h2>
                <div class="chart"></div>
                <div class="panel-footer"></div>
            </div>
        </div>
        <div class="column">
            <div class="no">
                <div class="no-hd">
                    <ul>
                        <li>999</li>
                        <li>999</li>
                    </ul>
                </div>
                <div class="no-bd">
                    <ul>
                        <li>需求人数</li>
                        <li>供应人数</li>
                    </ul>
                </div>
            </div>
            <div id="animation_container">
                <canvas id="canvas"></canvas>
                <div id="dom_overlay_container"></div>
            </div>
        </div>
        <div class="column">
            <div class="panel compareWithYesterday">
                <h2>与昨日相比</h2>
                <div class="chart"></div>
                <div class="panel-footer"></div>
            </div>
            <div class="panel weekTasks">
                <h2>本周任务</h2>
                <div class="chart"></div>
                <div class="panel-footer"></div>
            </div>
            <div class="panel monthTasks">
                <h2>本月任务</h2>
                <div class="chart"></div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </section>
    <th:block th:include="component::commonJs"></th:block>
    <script th:src="@{/system/index/js/flexible.js}"></script>
    <script th:src="@{/system/index/js/index.js}"></script>
    <script th:src="@{/system/index/js/createjs.min.js}"></script>
    <script th:src="@{/system/index/js/sprites/lizi.js}"></script>
    <script th:src="@{/system/index/js/spriteplayer.js}"></script>
</body>
</html>