<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="component::header('分配权限')"></th:block>
    <link rel="stylesheet" th:href="@{/expandjs/ztree/metroStyle.css}">
    <style>
        .companyTreeBorder{
            border: 1px solid #ddd
        }
    </style>
</head>
<body>
    <div class="layui-fluid">
    <div class="layui-col-space12">
        <form class="layui-form addForm" lay-filter="assignAuthoForm" th:object="${SysRole}">
            <div class="layui-form-item" style="display: none">
                <div class="layui-input-block">
                    <input type="text" name="roleId" autocomplete="off" class="layui-input" disabled th:value="*{roleId}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">角色名称：</label>
                <div class="layui-input-block">
                    <input type="text" name="roleName" autocomplete="off" class="layui-input" disabled th:value="*{roleName}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">权限字符：</label>
                <div class="layui-input-block">
                    <input type="text" name="roleKey" autocomplete="off" class="layui-input" disabled th:value="*{roleKey}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">状态：</label>
                <div class="layui-input-block">
                    <select name="dataScope" th:with="dataScopes=${@sysDictWebServiceImpl.findDetailByType('sys_data_scope')}" lay-filter="dataScope">
                        <option th:each="dataScope:${dataScopes}" th:text="${dataScope.dictLabel}" th:value="${dataScope.dictValue}" th:field="*{dataScope}"></option>
                    </select>
                    <div class="layui-form-mid layui-word-aux">特殊情况下，设置为“自定义数据权限”</div>
                </div>
            </div>
            <div id="deptTree" th:style="*{dataScope=='2'}?'display:block':'display:none'">
                <div class="layui-form-item">
                    <label class="layui-form-label">数据权限</label>
                    <div class="layui-input-block">
                        <input type="checkbox" lay-filter="treeOp" name="treeOp[fold_unfold]" lay-skin="primary" title="展开/折叠" checked>
                        <input type="checkbox" lay-filter="treeOp" name="treeOp[both_none]" lay-skin="primary" title="全选/全不选">
                        <input type="checkbox" lay-filter="treeOp" name="treeOp[linkage]" lay-skin="primary" title="父子联动" checked>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block companyTreeBorder">
                        <ul class="ztree" id="companyTree"></ul>
                    </div>
                </div>
            </div>
            <div class="layui-form-item" style="display: none">
                <button class="layui-btn" type="button" lay-submit lay-filter="*" id="search">
                    <i class="layui-icon layui-icon-add-1"></i>
                    保存
                </button>
            </div>
        </form>
    </div>
</div>
    <th:block th:include="component::commonJs"></th:block>
    <script th:src="@{/systemresouces/back/system/js/back_role/data_scope.js}"></script>
</body>
</html>